<table id="example1" class="table table-bordered table-striped">
  <thead>
  <tr class="col">
    <th>No.</th>
    <th>Nama Lengkap</th>
    <th>No. Induk Pegawai</th>
    <th>Jabatan</th>
    <% if (role === 'admin') { %>
      <th>Aksi</th>
      <% } %>
  </tr>
  </thead>
  <tbody>
    <% pembimbing.forEach((e, i) => { i++ %>
      <tr class="col">
        <td><%= i %></td>
        <td><%= e.name %></td>
        <td><%= e.nip %></td>
        <td class="text-break"><%= e.jabatan %></td>
        <% if (role === 'admin') { %>
          <td>
            <form action="/pembimbing/delete/<%= e.id %>?_method=DELETE" method="post">
              <a href="/pembimbing/edit/<%= e.id %>" class="btn btn-warning btn-sm">
                <i class="fas fa-pencil-alt"></i>
                Ubah
              </a>
              <button class="btn  btn-danger btn-sm">
                <i class="fas fa-trash-alt"></i>
                Hapus
              </button>
            </form>
          </td>
        <% } %>
        
      </tr>
    <% }) %>
  </tbody>
</table>
<!-- style="width: 14vw; -->