<table id="example1" class="table table-bordered table-striped">
  <thead>
  <tr class="col">
    <th>No.</th>
    <th>Nama Lengkap</th>
    <th>NIS/NIM</th>
    <th>Asal Sekolah/Kampus</th>
    <th style="width: 5vw;">Mulai Magang</th>
    <th style="width: 5vw;">Selesai Magang</th>
    <th style="width: 10vw;">Bidang Kegiatan</th>
    <th>Aksi</th>
  </tr>
  </thead>
  <tbody>
    <% peserta.forEach((e, i) => {i++ %>
      <tr class="col">
        <td><%= i %></td>
        <td class="text-bold"><%= e.name %></td>
        <td><%= e.nim %></td>
        <td><%= e.instansi %></td>
        <td><%= tglFormat(e.tglmulai) %></td>
        <td><%= tglFormat(e.tglselesai) %></td>
        <td><%= e?.biro?.name ?? '-'%></td>
        <td>
          <form action="/peserta/delete/<%= e.id %>?_method=DELETE" method="post">
            <a href="/peserta/edit/<%= e.id %>" class="btn btn-warning btn-sm">
              <i class="fas fa-pencil-alt"></i>
              Ubah
            </a>
            <button class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i>
              Hapus
            </button>
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>