<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sertifikat | <%= sertifikat.peserta.name %></title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Google Font: Arimo, Arvo, League Gothic -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Arimo&family=Arvo:wght@400;700&family=League+Gothic&display=swap">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/adminlte/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css">
  <style>
    body {
      background-image: url(/img/background-sertif.png);
      background-size: 29.7cm 21cm;
      background-repeat: no-repeat;
      background-position: center;
      font: 400 16px Arvo, serif;
      /* text-align: center; */
    }
    .sertificate .sertificate-title .sertificate-title-text {
      font-size: 23px;
    }
    .sertificate .sertificate-title .sertificate-title-text #pemko {
      font: 200 21px Arimo, sans-serif;
    }
    .sertificate .sertificate-number {
      margin-top: 26px;
      margin-bottom: 20px;
    }
    .sertificate .sertificate-number .sertificate-number-title {
      color: #1E686F;
      font: 100 52px/14px "League Gothic", sans-serif;
      letter-spacing: 1.2px;
    }
    .sertificate .sertificate-name {
      font-size: 23px;
    }
    .sertificate .sertificate-name #name {
      color: #1E686F;
      font: 100 82px "League Gothic", sans-serif;
      letter-spacing: 1.5px;
    }
    .sertificate .sertificate-paragraph {
      line-height: 21px;
      margin-bottom: 60px;
    }
    .sertificate .sertificate-signature {
      color: #1E686F;
      line-height: 15px;
    }
    .sertificate .sertificate-signature .signature-date {
      margin-bottom: 52px;
      font-size: 13px;
      font-weight: bold;
    }
    .sertificate .sertificate-signature .signature-person {
      font-size: 13px;
      font-weight: bold;
    }
    .sertificate .sertificate-signature .signature-person span {
      font-size: 14px;
      font-weight: bold;
    }
    @page {
      size: 29.7cm 21cm;
      margin: 1.5mm 1.5mm;
    }
  </style>
</head>
<body>
  <!-- Main content -->
  <section class="sertificate">
    <!-- title row -->
    <div class="row">
      <div class="sertificate-title col-12 mt-2 text-center">
        <img class="sertificate-title-img" src="/img/logo.png" alt="logopemko" width="72px" height="91px">
        <p class="sertificate-title-text pt-2">
          <span id="pemko">PEMERINTAH KOTA BANJARBARU</span><br> DINAS KOMUNIKASI DAN INFORMATIKA
        </p>
      </div>
      <!-- /.col -->
    </div>
    <!-- no.sertif row -->
    <div class="row">
      <div class="sertificate-number col-12 text-center">
        <p>
          <span class="sertificate-number-title">SERTIFIKAT</span> <br>
          Nomor : <%= sertifikat.noSertifikat %>
        </p>
      </div>
    </div>
    <!-- /.row -->

    <!-- name row -->
    <div class="row">
      <div class="sertificate-name col-12 text-center">
        <p>
          DIBERIKAN KEPADA<br>
          <span id="name"><b><%= sertifikat.peserta.name %></b></span>
        </p>
      </div>
    </div>
    <!-- /.row -->

    <!-- paragraf row -->
    <div class="row">
      <div class="sertificate-paragraph col-12 text-center">
        <p>
          Telah mengikuti Praktik Kerja Lapangan (PKL) selama <%= duration(sertifikat.peserta.tglmulai, sertifikat.peserta.tglselesai) %> <br>
          Dari tanggal <%= tglFormatSertif(sertifikat.peserta.tglmulai) %> sampai dengan <%= tglFormatSertif(sertifikat.peserta.tglselesai) %> <br>
          Di <strong>Dinas Komunikasi dan Informatika Kota Banjarbaru</strong> <br>
          <% if (sertifikat.nilai === 'a') { %>
            dengan hasil <strong>Sangat Baik</strong>
          <% } else if (sertifikat.nilai === 'b') { %>
            dengan hasil <strong>Baik</strong>
          <% } else if (sertifikat.nilai === 'c') { %>
            dengan hasil <strong>Kurang Baik</strong>
          <% } else { %>
            dengan hasil <strong>Tidak Baik</strong>
          <% } %>
        </p>
      </div>
    </div>
    <!-- /.row -->

    <!-- signature row -->
    <div class="row">
      <div class="sertificate-signature col-12 text-center">
        <p class="signature-date">
          <span>Banjarbaru, <%= tglFormatSertif(sertifikat.tglTerbit) || tglFormatSertif(Date.now()) %></span><br>
          <%= capitalize(sertifikat.pembina.jabatan) %> Komunikasi dan Informatika <br> Kota Banjarbaru
        </p>
        <p class="signature-person">
          <span><%= sertifikat.pembina.name %></span> <br>
          Pembina Tk.I <br>
          NIP. <%= nipFormat(sertifikat.pembina.nip) %>
        </p>
      </div>
        
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
<!-- ./wrapper -->
<!-- Page specific script -->
<!-- jQuery -->
<script src="/adminlte/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/adminlte/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
  window.addEventListener("load", window.print());
</script>
</body>
</html>
